@{
    var homeUrl = Href("~/");
}
<a class="brand" href="@homeUrl">
    <img alt="@WorkContext.CurrentSite.SiteName" src="~/Themes/ceenq.org.Theme.Catc/images/logo.png" class="hidden-phone"/>
    <img alt="@WorkContext.CurrentSite.SiteName" src="~/Themes/ceenq.org.Theme.Catc/images/logo_m.png" class="visible-phone"/>
</a>