@using Orchard.Utility.Extensions
<fieldset class="save-button">
    <button id="content-submit" class="btn btn-success" type="submit" name="submit.Save" value="submit.Save">@T("Save")</button>
</fieldset>
