


<div class="navbar-collapse nav-main-collapse collapse">
    <div class="container">
        <div class="social-icons">
            <ul class="social-icons">
                <li class="facebook"><a href="https://www.facebook.com/ceenq" target="_blank" title="Facebook">Facebook</a></li>
                <li class="twitter"><a href="https://twitter.com/ceenq" target="_blank" title="Twitter">Twitter</a></li>
                <li class="linkedin"><a href="http://www.linkedin.com/company/ceenq-software-solutions" target="_blank" title="Linkedin">Linkedin</a></li>
            </ul>
        </div>
        <nav class="nav-main">
            <ul class="nav nav-pills nav-main" id="mainMenu">
                @DisplayChildren(Model)
            </ul>
        </nav>
    </div>
</div>