<div class="container">
    <h1 class="logo">
        <a href="/">
            <img alt="Porto" src="/Themes/ceenq.com.Theme.Ceenq/img/logo.png">
        </a>
    </h1>
    <div class="search">
        <form id="searchForm" action="page-search-results.html" method="get">
            <div class="input-group">
                <input type="text" class="form-control search" name="q" id="q" placeholder="Search...">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button"><i class="icon icon-search"></i></button>
                </span>
            </div>
        </form>
    </div>

    <nav>
        <ul class="nav nav-pills nav-top">
            <li>
                <a href="contact-us"><i class="icon icon-angle-right"></i>Contact Us</a>
            </li>
            <li >
                <span><i class="icon icon-phone"></i>(832) 455-9861</span>
            </li>
        </ul>
    </nav>
    <button class="btn btn-responsive-nav btn-inverse" data-toggle="collapse" data-target=".nav-main-collapse">
        <i class="icon icon-bars"></i>
    </button>
</div>