.brand-logo {
    background-image: url(images/logo.png);
    width: 165px;
    height: 65px;
    line-height: normal;
    vertical-align: baseline;
    position: absolute;
    margin-top: -9px;
}

.brand-text {
    padding-left: 125px;
}
