@model dynamic
<h1>@Html.TitleForPage(T("Password Set Successfully").ToString()) </h1>
<p>@T("Your password has been set.  Redirecting to login...") </p>
<script type="text/javascript">


    setTimeout('redirectTo()', 3000)

    function redirectTo() {
        window.location = "http://cnq.io/dashboard"
    }
</script>
